@import '../../vendor/filament/forms/dist/module.esm.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .mt-4rem{
        @apply mt-[4.4rem]
    }
    .mt-2rem{
        @apply mt-[2.4rem]
    }
    p{
        @apply prose-lg;
    }
    span{
        @apply font-bold;
    }
    h1 , h2, h3, h4,h5,h6{
        @apply text-primary-500  font-bold uppercase
    }
    h2, h3, h4,h5,h6{
        @apply font-normal  text-sm
    }
    .button{
        @apply inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
    }
    h3, h2{
        @apply text-xl font-semibold md:text-2xl
    }
    .container {
        @apply mx-0 my-0 px-0 py-0;
    }
    ol{
        @apply list-decimal px-8;
    }
    .open-button{
        @apply fixed cursor-pointer border-none  bottom-10 left-12
        text-white font-extrabold opacity-100 z-50
    }
    .call-button{
        @apply fixed cursor-pointer border-none  bottom-10
        text-white font-extrabold opacity-100 z-50
    }
    .chat-popup{
        @apply fixed bottom-8 left-10 z-50 bg-white rounded-md shadow-2xl max-w-[260px]
    }
}

[x-cloak] {
    display: none;
}

.form-container {
    padding: 10px;
}

